
.idea/workspace.xml
.idea/vcs.xml
.idea/runConfigurations.xml
.idea/modules.xml
.idea/misc.xml
.idea/libraries/lib.xml
*.xml
*.class
*.class
out/production/Perspective/object.class
out/production/Perspective/player.class
out/production/Perspective/Render2D$1.class
out/production/Perspective/Render2D$2.class
out/production/Perspective/Render2D$3.class
out/production/Perspective/Render2D.class
out/production/Perspective/vertex.class
*.class
out/production/Perspective/Render3D$1.class
out/production/Perspective/Render3D$2.class
out/production/Perspective/Render3D.class
out/production/Perspective/Render3D$1.class
out/production/Perspective/Render3D$2.class
out/production/Perspective/Render3D.class
*.class
Nocturne.mp3
out/artifacts/Perspective.zip
out/artifacts/Perspective/Background.png
out/artifacts/Perspective/ES_Apple Keyboard 13 - SFX Producer.mp3
out/artifacts/Perspective/ES_Fire Torch Move - SFX Producer.mp3
out/artifacts/Perspective/Execute.bat
out/artifacts/Perspective/Font.ttf
out/artifacts/Perspective/Font2.ttf
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/api-ms-win-core-console-l1-1-0.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/api-ms-win-core-console-l1-2-0.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/api-ms-win-core-datetime-l1-1-0.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/api-ms-win-core-debug-l1-1-0.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/api-ms-win-core-errorhandling-l1-1-0.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/api-ms-win-core-file-l1-1-0.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/api-ms-win-core-file-l1-2-0.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/api-ms-win-core-file-l2-1-0.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/api-ms-win-core-handle-l1-1-0.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/api-ms-win-core-heap-l1-1-0.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/api-ms-win-core-interlocked-l1-1-0.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/api-ms-win-core-libraryloader-l1-1-0.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/api-ms-win-core-localization-l1-2-0.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/api-ms-win-core-memory-l1-1-0.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/api-ms-win-core-namedpipe-l1-1-0.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/api-ms-win-core-processenvironment-l1-1-0.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/api-ms-win-core-processthreads-l1-1-0.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/api-ms-win-core-processthreads-l1-1-1.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/api-ms-win-core-profile-l1-1-0.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/api-ms-win-core-rtlsupport-l1-1-0.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/api-ms-win-core-string-l1-1-0.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/api-ms-win-core-synch-l1-1-0.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/api-ms-win-core-synch-l1-2-0.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/api-ms-win-core-sysinfo-l1-1-0.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/api-ms-win-core-timezone-l1-1-0.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/api-ms-win-core-util-l1-1-0.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/api-ms-win-crt-conio-l1-1-0.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/api-ms-win-crt-convert-l1-1-0.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/api-ms-win-crt-environment-l1-1-0.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/api-ms-win-crt-filesystem-l1-1-0.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/api-ms-win-crt-heap-l1-1-0.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/api-ms-win-crt-locale-l1-1-0.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/api-ms-win-crt-math-l1-1-0.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/api-ms-win-crt-multibyte-l1-1-0.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/api-ms-win-crt-private-l1-1-0.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/api-ms-win-crt-process-l1-1-0.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/api-ms-win-crt-runtime-l1-1-0.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/api-ms-win-crt-stdio-l1-1-0.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/api-ms-win-crt-string-l1-1-0.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/api-ms-win-crt-time-l1-1-0.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/api-ms-win-crt-utility-l1-1-0.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/decora_sse.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/fxplugins.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/glass.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/glib-lite.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/gstreamer-lite.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/javafx_font.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/javafx_iio.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/jfxmedia.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/jfxwebkit.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/msvcp140.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/prism_common.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/prism_d3d.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/prism_sw.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/ucrtbase.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/vcruntime140.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/bin/vcruntime140_1.dll
out/artifacts/Perspective/javafx-sdk-17.0.1/lib/javafx-swt.jar
out/artifacts/Perspective/javafx-sdk-17.0.1/lib/javafx.base.jar
out/artifacts/Perspective/javafx-sdk-17.0.1/lib/javafx.controls.jar
out/artifacts/Perspective/javafx-sdk-17.0.1/lib/javafx.fxml.jar
out/artifacts/Perspective/javafx-sdk-17.0.1/lib/javafx.graphics.jar
out/artifacts/Perspective/javafx-sdk-17.0.1/lib/javafx.media.jar
out/artifacts/Perspective/javafx-sdk-17.0.1/lib/javafx.properties
out/artifacts/Perspective/javafx-sdk-17.0.1/lib/javafx.swing.jar
out/artifacts/Perspective/javafx-sdk-17.0.1/lib/javafx.web.jar
out/artifacts/Perspective/logo.jpg
out/artifacts/Perspective/MANIFEST.MF
out/artifacts/Perspective/Perspective.jar
out/production/Perspective/object.class
out/production/Perspective/Perspective.iml
out/production/Perspective/player.class
out/production/Perspective/Render2D$1.class
out/production/Perspective/Render2D$2.class
out/production/Perspective/Render2D$3.class
out/production/Perspective/Render2D$4.class
out/production/Perspective/Render2D.class
out/production/Perspective/Render3D$1.class
out/production/Perspective/Render3D$2.class
out/production/Perspective/Render3D.class
out/production/Perspective/Todo List.txt
out/production/Perspective/vertex.class
out/production/Perspective/object.class
out/production/Perspective/Perspective.iml
out/production/Perspective/player.class
out/production/Perspective/Render2D$1.class
out/production/Perspective/Render2D$2.class
out/production/Perspective/Render2D$3.class
out/production/Perspective/Render2D$4.class
out/production/Perspective/Render2D.class
out/production/Perspective/Render3D$1.class
out/production/Perspective/Render3D$2.class
out/production/Perspective/Render3D.class
out/production/Perspective/Todo List.txt
out/production/Perspective/vertex.class
*.class
out/production/Perspective/Render2D.class
out/production/Perspective/object.class
out/production/Perspective/Perspective.iml
out/production/Perspective/player.class
out/production/Perspective/Render2D$1.class
out/production/Perspective/Render2D$2.class
out/production/Perspective/Render2D$3.class
out/production/Perspective/Render2D$4.class
out/production/Perspective/Render2D.class
out/production/Perspective/Render3D$1.class
out/production/Perspective/Render3D$2.class
out/production/Perspective/Render3D.class
out/production/Perspective/Todo List.txt
out/production/Perspective/vertex.class
Nocturne_long.mp3
